.board {
  display: inline-block;
  width: 29%;
  height: 100%;
  vertical-align: top;
}

.board h1 {
  font-size: 100%;
  margin-left: 2em;
}

.board__arrivals {
  width: 100%;
  background: $black;
  margin-bottom: 1em;
}

.board__container {
  padding: 0.5em;
  background: $bus-red;
}

.board__number {
  display: inline-block;
  width: 30%;
  padding: 0.5em 0;
  background: $black;
  border-bottom: 1px solid $grey-dark;
  color: $yellow;
  font-size: 170%;
  text-align: center;
  border-right: 1px solid $grey-dark;
  border-top-left-radius: 0.5em;
}

.board__destination {
  display: inline-block;
  width: 59.6%;
  padding: 1.55em 0 0.95em 10%;
  border-bottom: 1px solid $grey-dark;
  background: $black;
  color: $yellow;
  font-size: 100%;
  border-top-right-radius: .5em;
}

.board__estimated-wait {
  padding: .5em .5em 0 3em;
  font-size: 90%;
  background: $black;
  color: $yellow;
}

.board__scheduled-time {
  @extend .board__estimated-wait;
  padding: 0 0 1em 3em;
  background: $black;
  color: $yellow;
  border: 0;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.board__indicator {
  display: inline-block;
  width: 40%;
  margin-right: 0.3em;
  font-weight: bold;
  text-align: right;
}

.board__cancelled_message {
  color: $yellow;
}
