// Colours.
$bus-red: #c03;
$black: #000;
$white: #fff;
$yellow: #f2de1c;
$grey-light: #dcdcdc;
$grey-dark: #656565;

// Fonts.
$verdana: Verdana, Geneva, sans-serif;

// Breakpoints.
$small: 24em;
$medium: 48em;
$large: 64em;
$x-large: 80em;
